doctype html
include ./mixins/header.pug
include ./mixins/containers.pug
include ./mixins/containers_aph.pug
include ./mixins/title.pug
include ./mixins/quotes.pug

- var themePath = '../themes/aph/';
- var globalAssets = '../assets/all/';
- var defaultBgr = 'backgrounds/bgr_px_mountains.jpg';

+header('NI-APH', 'Architecture of Computer Games', 'Adam Vesecký', themePath + 'resources/favicon.png', themePath + 'theme_aph.scss')

.reveal
    .slides
        +title('Tutorial 3, Part 1', 'Pixi Components', 'color-azure-light')
        +frameInbox('ECS bridge')
            .text-center
                img.height-750(src=globalAssets+'arch_bridge.svg')
        +frameInbox('ECS architecture')
            .text-center
                img.height-750(src=globalAssets+'arch_ecs.svg')

+footer('Adam Vesecký (FIT CTU)', 'Architecture of Computer Games')
script(src!='../../scripts/reveal-setup.js')
