* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #034;
  color:#fff;
  line-height: 1.45;
  font-family: Arial, "Helvetica Neue", sans-serif;
  font-size: 100%; /* Works in conjunction with the font-size of the wrapper */
}

.wrapper {
  font-size: 1.5em;
}


section {
  box-sizing: border-box;
  max-width: 35em;
  margin: 0 auto;
  padding:1em;
}

section pre {
  background:#023;
  border: solid 1px #000;
  border-radius: 0.25em;
  box-shadow: inset 0 0.25em 1em rgba(0,0,0,0.2);
  color: #9ff;
  padding: 1em;
  text-shadow: 0 0 3px #222, 0 0 10px #9ff;
  overflow-x: auto;
  margin-top: 1em;
}

section pre .cursor {
  animation: blink 0.7s infinite;
  border-bottom: solid 2px #9ff;
  display: inline-block;
  height: 1.2em;
  width: 0.4em;
}

@keyframes blink {
  0% {opacity: 0.6}
  20% {opacity: 0.6}
  100% {opacity: 0}
}